import React from 'react';
// import { render, screen } from '@testing-library/react';
// import App from './App';

// test('Renders login page', () => {
//   render(<App />);
//   const hiText = screen.getByText(/Hi/i);
//   expect(hiText).toBeInTheDocument();
// });
